header{
  background-color: #54426b;
  padding: 20px;
}

.container{
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav{
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo:hover {
  transform: scale(1.02);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  font-family: 'QuickSand';
  font-weight: bolder;
  src: url('Font/Quicksand-VariableFont_wght.ttf');
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: #db324d;
  border-radius: 15px;
  transform: scale(1.05);
}

.nav-item:hover a {
  color: white;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

nav a{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

main{
  background-color: #db324d;
  height: 110vh;
}

.banner{
  width: 100%;
  max-height: 750px;
}

main img{
  Object-fit: cover;
}

.spacer {
  margin-top: 10px;
}
