*{
  font-family: 'QuickSand';
}


header{
  background-color: #54426b;
  padding: 20px;
}

.container{
  width: 940px;
  margin: 0 auto;
}

nav{
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo:hover {
  transform: scale(1.02);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  font-family: 'QuickSand';
  font-weight: bolder;
  src: url('Font/Quicksand-VariableFont_wght.ttf');
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: #db324d;
  border-radius: 15px;
  transform: scale(1.05);
}

.nav-item:hover a {
  color: white;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

nav a{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

main{
  background-color: #db324d;
  height: 340vh;
}

.bannerContent{
  position: relative;
}

.banner{
  width: 100%;
  max-height: 750px;

}

main img{
  Object-fit: cover;
}

.titular{
  top:150px;
  width: 500px;
  height: auto;
  background-color: rgba(255, 255, 255, 28%);
  padding: 30px;
  border-radius: 15px;
  position: absolute;
  left: 25%;
}

.titular h1,p{
  text-align: center;
  color: #54426b
}

.titular h1{
  font-size: 42px;
  font-weight: bold;
  font-family: 'QuickSand';
}

.titular p{
  font-size: 18px;
  text-align: justify;
  font-family: 'QuickSand';
  font-weight: Bold;
  line-height: 20px;
  margin: 20px;
}

.rs-links {
  list-style: none;
  display: flex;
}

.rs-items a {
  display: inline-block;
  padding: 10px 15px;
}

.rs-items img{
  height: 30px;
  width: auto;
}

.rs-items:hover {
  transform: scale(1.05);
}

.titularSectionTitle{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #54426b;
  margin: 40px auto 40px;
}

.content{
  margin-top: 60px;
}

.gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--8 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--9 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--10 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--11 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--12 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery__item--13 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--14 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 8;
}

.gallery__item--15 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
}

.gallery__item--16 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 8;
}

footer{
  background-color: #54426b;
  height: 100px;
  padding: 20px;
  position: relative;
}

footer h2{
  font-family: "QuickSand";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
